.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  padding: 20px;
  box-sizing: border-box;
}

.content {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-gap: 20px;
  width: 100%;
  margin: 20px 0;
}

.canvas-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  grid-column: 2 / 3;
}

.graph{
  height: 60vh;
}

.canvas {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  width: 100%;
  height: 40vh;
  box-sizing: border-box;
}

.data-cells {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  grid-column: 1 / 2;
}

.cell, .graph, .video-cell {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
}

.altitude-graph-container {
  width: 100%;
  height: 100%;
}

.video-cell {
  position: relative;
}

.video-cell > video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .content {
    grid-template-columns: 1fr;
  }

  .canvas-container {
    grid-column: 1 / 2;
  }

  .data-cells {
    grid-column: 1 / 2;
  }

  .canvas {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    width: 100%;
    height: 45vh !important;
    box-sizing: border-box;
  }
}


/* WebRTCPlayer.css */

.webRTCContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.webRTCButton {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.startButton {
  background-color: #28a745; /* Green */
}

.stopButton {
  background-color: #dc3545; /* Red */
}

.webRTCButton:hover {
  background-color: #155724; /* Darker green for start button */
}

.webRTCButton:active {
  transform: scale(0.98);
}

.videoContainer {
  width: 100%;
  max-width: 600px;
  height: auto;
  max-height: 80vh;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 8px;
}

.videoElement {
  width: 100%;
  height: auto;
  object-fit: contain; /* Adjust to 'cover' if needed */
}
