.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  max-width: 1200px;
  margin: 20px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 300px;
}

.real-time-data {
  margin-bottom: 20px;
}

.real-time-data h2 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 1.5em;
  color: #333;
}

.real-time-data p {
  margin: 5px 0;
  font-size: 1.2em;
  color: #555;
}

.graph {
  margin-top: 20px;
  padding: 10px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
